<ion-view view-title="Tag">
  <ion-content class="padding">
    <div class="list">
		<div class="item item-divider">
		Vehicle
		</div>
			<a class="item item-icon-left" href="#/tab/tag/11"> <i class="icon ion-android-car"></i>Car</a>
			<a class="item item-icon-left" href="#/tab/tag/12"><i class="icon ion-android-bicycle"></i>Bike</a>
			<a class="item item-icon-left" href="#/tab/tag/13"><i class="icon ion-android-bicycle"></i>Bicycle</a>
			<a class="item item-icon-left" href="#/tab/tag/14"><i class="icon ion-android-bus"></i>Others</a>
			
		<div class="item item-divider">
		Place
		</div>
			<a class="item item-icon-left" href="#/tab/tag/21"><i class="icon ion-person-stalker"></i>Friend</a>
			<a class="item item-icon-left" href="#/tab/tag/22"><i class="icon ion-android-contacts"></i>Relative</a>
			<a class="item item-icon-left" href="#/tab/tag/23"><i class="icon ion-android-walk"></i>Others</a>
	</div>
  </ion-content>
</ion-view>
