<ion-view view-title="Tag">
  <ion-content class="padding">
    <div class="list">
		<div class="item item-divider">
		Vehicle
		</div>
			<a class="item item-icon-left" ng-click="openTag(1,'Car','ion-android-car')"> 	<i class="icon ion-android-car"></i>Car</a>
			<a class="item item-icon-left" ng-click="openTag(1,'Bike','ion-android-bicycle')" >	<i class="icon ion-android-bicycle"></i>Bike</a>
			<a class="item item-icon-left" ng-click="openTag(1,'Bicycle','ion-android-bicycle' )">	<i class="icon ion-android-bicycle"></i>Bicycle</a>
			<a class="item item-icon-left" ng-click="openTag(1,'Other vehicle','ion-android-bus')"><i class="icon ion-android-bus"></i>Other vehicle</a>
			
		<div class="item item-divider">
		Place
		</div>
			<a class="item item-icon-left" ng-click="openTag(2,'Friend','ion-person-stalker')" >		<i class="icon ion-person-stalker"></i>Friend</a>
			<a class="item item-icon-left" ng-click="openTag(2,'Relative','ion-android-contacts')" >	<i class="icon ion-android-contacts"></i>Relative</a>
			<a class="item item-icon-left" ng-click="openTag(2,'Miscellaneous','ion-android-walk')"><i class="icon ion-android-walk"></i>Miscellaneous</a>
	</div>
  </ion-content>
</ion-view>
